@import url(//db.onlinewebfonts.com/c/6dd2f2510b4a00a5461b2455928209c2?family=BrandonGrotW01-Light);
.heading-component{
    //width:968px;
    font:normal normal normal 25px/1.4em BrandonGrotW01-Light,sans-serif;
    color: #242323;
    text-align: center;
}
.paragraph-custom{
    line-height: 1.5em;
    text-align: center;
    font-style:italic;
    font:italic normal normal 18px/1.4em BrandonGrotW01-Light,sans-serif;
    color:#737373;
     //width: 585px;
     display:flex;
    justify-content: center;
    margin:0;
}